{% extends 'layout.jinja2' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" type="text/css">
{% endblock %}

{% block content %}
<div class="formwrapper">
    <div style="font-size: 15px;text-align:right;">
        <a href="/">Home</a> {{ '|' }}
        <a  href="admin">Admin</a> {{ '|' }}
        <a  href="reservations">Reservation</a>
    </div>
  <h2 class="title">Reserve Your Seat</h2>
    {% if validated_choice == True %}
        <h1 style="font-size: 15px;text-align:left;"> Congratulations {{first_name}}! Row:{{row_choice+1}} Seat:{{seat_choice+1}} is now reserved for you! Enjoy the trip!</h1>
        <h1 style="font-size: 15px;text-align:left;">  Your e-ticket number is: {{ reservation_code }} </h1>

    {% endif %}
     {% if validated_choice == False %}
        <h1 style="color: red;font-size: 15px;text-align:left;">  ERROR: Row:{{row_choice+1}} Seat:{{seat_choice+1}} is already assigned. Choose again </h1>
    {% endif %}
    <h1 style="font-size: 15px;text-align:left;"> Seating Chart</h1>
    <h1 style="font-size: 10px;text-align:left;"> X = Reserved Seat : O = Available Seat </h1>

    <div style="background-color:#ced0d3;padding:5px;width:150px;border-radius:10px;">
        <ul>
            {% for row in seating_chart %}
                <li> {{ row+1}} {{': [' }}
                {% for a_value in seating_chart[row] %}
                    {{ a_value }}
                {% endfor %}
                {{']'}}</li>
            {% endfor %}
        </ul>
    </div>

  <form method="POST" action="/reservations">
      {{ form.csrf_token }}
      <div class="form-field">{{ form.first_name.label }} {{ form.first_name }}
        {% if form.first_name.errors %}
          <ul class="errors">
            {% for error in form.first_name.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="form-field">{{ form.last_name.label }} {{ form.last_name }}
        {% if form.last_name.errors %}
          <ul class="errors">
            {% for error in form.last_name.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="form-field">{{ form.row.label }} {{ form.row }}
        {% if form.row.errors %}
          <ul class="errors">
            {% for error in form.row.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="form-field">{{ form.seat.label }} {{ form.seat }}
        {% if form.seat.errors %}
          <ul class="errors">
            {% for error in form.seat.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      
      {{ form.reserve }}
  </form>
  
</div>
{% endblock %}
